[user]
    name = Benoist LAURENT
    email = benoist.laurent@cnrs.fr

[init]
	defaultBranch = main

[push]
    default = simple

[pull]
	rebase = false

[core]
    pager = delta

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color]
    branch = auto
    diff = auto
    status = auto

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status -s
    ci = commit
    cia = commit -a
    ciam = commit -am
    co = checkout
    cob = checkout -b
    undo = reset --hard HEAD
    tags = tag --list
    branches = branch --list --all
    opendiff = difftool -y --tool=opendiff

    # Get the current branch name (not so useful in itself, but used in
    # other aliases)
    branch-name = "!git rev-parse --abbrev-ref HEAD"

    incoming = "!git remote update -p; git log ..@{u}"
    outgoing = "!CB=$(git branch-name) && git fetch origin && git log origin/$CB..$CB"
 

    # Shows colored log with tag/branch, short description and author.
    ls = "log --pretty=format:\"%C(yellow)%h%C(reset) %cd %C(cyan)%cn%C(reset) %s %C(green)%d%C(reset)\" --date=short"

    # Same as ls - Shows last commit.
    head = !git ls HEAD^..HEAD

    # Push the current branch to the remote "origin", and set it to track the upstream branch
    publish = "!git push -u origin $(git branch-name)"

    # Delete the remote version of the current branch
    unpublish = "!git push origin :$(git branch-name)"

    # Remove local and remote branch.
    deletebranch = "!f() { \
        git push origin --delete "$@"; \
        git branch -d "$@"; \
    }; f"

[url "https://gitlab.galaxy.ibpc.fr/"]
  insteadOf = "glab:"
  pushInsteadOf = "https://gitlab.galaxy.ibpc.fr/"

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "git://github.com/"

[url "git@bitbucket.org:"]
    insteadOf = "bb:"
    pushInsteadOf = "https://bitbucket.org/"
    pushInsteadOf = "http://bitbucket.org/"
    pushInsteadOf = "git://bitbucket.org/"
